@font-face {
  font-family: "Gisha";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Gisha Regular"),
    local("Gisha-Regular"),
    local("Gisha"),
    url("/fonts/gisha.woff2") format("woff2");
}
